schemi/news.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="notizie" type="news_group" />

	<xs:complexType name="news_group">
		<xs:sequence>
			<xs:element name="news" type="news" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="news" mixed="true">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="date" type="xs:date" minOccurs="0"/>
			<xs:element name="time" type="xs:time" minOccurs="0"/>
			<xs:element name="place" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	
</xs:schema>