database/admin.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="amministratori" type="admins" />

	<xs:complexType name="admins">
		<xs:sequence>
			<xs:element name="admin" type="adminT" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="adminT">
		<xs:sequence>
			<xs:element name="username" type="xs:string" />
			<xs:element name="password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	
</xs:schema>